body {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-template-areas: 
    "one five three"
    "two six four";
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Alfa Slab One', cursive;
    background-image:url('pics/back.jpeg');
    background-repeat:no-repeat;
    overflow: hidden;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.box {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-template-areas: 
    "one five three"
    "two six four";
}

.one {
    grid-area: one;
    justify-self: center;
    align-self: center;
}

.one a {
    border-left: 5px double black;
    border-radius: 5px;
    padding-left: 5px;
}

.two {
    grid-area: two;
    justify-self: center;
    align-self: center;
}

.two a {
    border-radius: 5px;
    border-left: 5px double black;
    padding-left: 5px;
}

.three {
    grid-area: three;
    justify-self: center;
    align-self: center;
}

.three a {
    border-radius: 5px;
    border-right: 5px double black;
    padding-right: 5px;
}

.four {
    grid-area: four;
    justify-self: center;
    align-self: center;
}

.four a {
    border-radius: 5px;
    border-right: 5px double black;
    padding-right: 5px;
}

.five {
    grid-area: five;
    justify-self: center;
    align-self: center;
    transform: rotate(45deg);
    margin: 0px;
}

.five img {
    width: 150px;
    height: 150px;
    border: 5px double black;
    border-radius: 5px;
}

.six {
    grid-area: six;
    justify-self: center;
    align-self: start;
    font-size: 38px;
    border-left: 5px double black;
    border-right: 5px double black;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

@media only screen and (max-width: 1008px){
    body {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 200px 50px 50px; 
        justify-content: center;
        grid-template-areas: 
        "five five five five"
        "six six six six"
        "one two three four";
    }
    .five img {
        width: 130px;
        height: 130px;
    }
    .six {
        font-size: 35px;
    }
    a {
        font-size: 20px;
        border-left: 5px double black;
        border-right: 5px double black;
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
