body {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas: 
	"Logo Logo Logo Navigation Navigation Navigation"
	"Box1 Box1 Box2 Box2 Box3 Box3"
	"Box1 Box1 Box2 Box2 Box3 Box3";
	text-align: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: 0px;
	font-family: arial;
}

@media only screen and (max-width: 768px) {
	body {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(8, 1fr);
	grid-template-areas: 
	"Logo Logo Logo Logo Logo Logo"
	"Navigation Navigation Navigation Navigation Navigation Navigation"
	"Box1 Box1 Box1 Box1 Box1 Box1"  
	"Box1 Box1 Box1 Box1 Box1 Box1"
	"Box2 Box2 Box2 Box2 Box2 Box2"
	"Box2 Box2 Box2 Box2 Box2 Box2"
	"Box3 Box3 Box3 Box3 Box3 Box3"
	"Box3 Box3 Box3 Box3 Box3 Box3";
    overflow-x: hidden;
    overflow-y: scroll;
	}
}

div {
	background-color: skyblue;
}

.Logo {
	grid-area: Logo;
	align-self: center;
}

.Navigation {
	grid-area: Navigation;
	align-self: center;
}

.Box1 {
	grid-area: Box1;
}

.Box2 {
	grid-area: Box2;
}

.Box3 {
	grid-area: Box3;
}

.flexBox {
	display: flex;
	justify-content: center;
    align-items: center;
}

.flexBox img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin-right: 10px;
}

.flexBox h1 {
	margin: 0px;
	font-size: 5vw;
}
